header {
    background-color: rgba(47, 23, 15, 0.9);
    padding: 1px;

        .site-heading {
            margin-top: 5rem;
            margin-bottom: 5rem;
            line-height: 1;

            & .site-heading-upper {
                display: block;
                font-size: 2rem;
                font-weight: 800;
                margin: 5px 0 0 -50px
            }

            & .site-heading-lower {
                font-size: 11rem;
                font-weight: 100;
                line-height: 4rem;
                font-family: 'Alex Brush', cursive;
                margin-top: 1rem;
            }
        }    
        .text-faded {
            color: $primary_color;
        }

        .subtitle {
            color: rgb(230, 167, 86);
        }
}  
        





