.btn-xl {
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; 
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.btn-style {
    color: #000 !important;
    background-color: #e6a756 !important;
    border-color: #e6a756 !important;
}